
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, sans-serif;
    background:#fff8f0;
}
h2{
    color:#d84315;
    text-align:center;
}
button{
    background:#ff5722;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}
.card{
    border-radius:10px;
    box-shadow:0px 0px 8px gray;
}
.cat{
    border-radius:10px;
    box-shadow:0px 0px 5px gray;
}
#cart{
    border:3px dashed red;
    background:white;
}
